@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.ttf") format("truetype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
}
body {
    line-height: 1.6;
    margin-inline: 3rem;
    background-color: #b94a4a;
    text-align: center;
}

p {
    color: #fff;
    max-inline-size: 600px;
    margin-inline: auto;
}
