@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.ttf") format("truetype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;

    padding: 2rem;
    background-color: #f0f0f0;
}

.section {
    display: grid;
    place-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
}
