---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro intro page</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h1>My Astro Learning Blog</h1>
        <p>
            Welcome to my Astro learning blog! Here, I'll be sharing my journey
            and insights as I explore the world of Astro. Stay tuned for
            updates, tips, and tutorials on how to make the most out of this
            powerful web framework.
        </p>
    </body>
</html>

  